__pycache__/
__MACOSX/
.idea/
.ipynb_checkpoints
.env

dogs-vs-cats/
.dvc/
candidate/
mlruns/

.dvc.zip
.git.zip
dogs-vs-cats.dvc

server/db_data
server/minio_data
server/prefect_data

flow_scheduler/flows/data/.gitignore
flow_scheduler/flows/data/.dvcignore

flow_scheduler/flows_mnist/data/.gitignore
flow_scheduler/flows_mnist/data/.dvcignore

output.csv
user_feedback.csv
detection_result.csv
.dvcignore
demo_create_first_version_dvc.sh
zip_version_ctrl_file.sh
cat_dog_model.pt
flow_scheduler/flows/data/dogs-vs-cats.zip