__pycache__/
__MACOSX/
.idea/
.ipynb_checkpoints

MNIST/
.dvc/
candidate/
mlruns/
ml_experimenter/notebooks/AIF/.*

.dvc.zip
.git.zip
MNIST.dvc

server/db_data
server/minio_data
server/prefect_data

flow_scheduler/flows/data/.gitignore
flow_scheduler/flows/data/.dvcignore

flow_scheduler/flows_mnist/data/.gitignore
flow_scheduler/flows_mnist/data/.dvcignore


output.csv
user_feedback.csv
detection_result.csv
.dvcignore